@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<script src="~/Scripts/prj/baseb.js?v=20240130001"></script>

<!-- jquery-ui -->
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/prj/ProjectInvoice.js?v=20240531001"></script>

<style type="text/css">
    .ui-autocomplete {
        z-index: 2147483647;
    }
</style>

<div id="_tabs">
    <table id="_table"></table>
</div>