@model Dou.Models.UserBase
@{
    ViewBag.Title = "DouLoginError";
}
<div style="display:flex; justify-content:center; align-items:center; flex-direction:column;height:100%">
    <h2>@Model.Name 您好</h2>
    <h2>
        @{
            //嘗試登入失試-尚未授權
            if (ViewBag.ErrorMessage.IndexOf("尚未授權") > -1)
            {
                <b style="color:red">如需使用，請洽使用直屬主管，謝謝</b>
            }
            else
            {
                <b style="color:red">@ViewBag.ErrorMessage</b>
                }
            }            
    </h2>    
</div>
