@*@{
    Layout = null;
}*@

<script src="~/Scripts/prj/GCal.js?v=20240529001"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
