@*@{
    Layout = null;
}*@

<script src="~/Scripts/prj/GCal.js?v=20240529001"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <div id="g_id_onload"
             data-client_id="1002934567383-52dhafecpfss0c0dtovkml0snjfnbgq0.apps.googleusercontent.com"
             data-login_uri="@(AppConfig.SystemWebSite + "GCal/ValidGoogleLogin")"
             data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
             data-type="standard"
             data-size="large"
             data-theme="outline"
             data-text="sign_in_with"
             data-shape="rectangular"
             data-logo_alignment="left">
        </div>
        @*$('.g_id_signin [role="button"]').trigger("click")*@
    </div>
</body>
</html>
