/Scripts/Dou
/Scripts/gis
/FTIS-Esdms.csproj.user
/.vs
/obj
/bin/Dou.pdb
/bin/Dou.dll.config
/bin/FTIS-Esdms.pdb
/bin/FTIS-Esdms.dll
/bin/FTIS-Esdms.dll.config
/Properties/PublishProfiles
/Esdms.csproj.user
/bin/Esdms.pdb
/bin/Esdms.dll
/bin/Esdms.dll.config
