<script src="~/Scripts/prj/BasicUser.js?v=20240104001"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<div id="_tabs">
    <table id="_table"></table>
</div>