<script src="~/Scripts/prj/BasicUser.js?v=20240116001"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<style>
    .bootstrap-table .fixed-table-container .fixed-table-body .dou-field-strExpertises {
        white-space: break-spaces;
    }

    .text-danger{
        font-weight: bold;
    }

    .modal-body .text-danger{
        font-weight: bold;
        color: #A0072C !important;
    }

    .modal-body li {
        color: #53575A;
    }

    .modal-body .mt-2 a {
        font-weight: bold;
        color: #53575A;
    }

    .modal-body .mt-2 a:hover {
        color: #707579;
        text-decoration: underline !important;
    }
</style>

<div id="_tabs">
    <table id="_table"></table>
</div>